html {
  background: #e0e0e0;
  box-shadow: 0px 0px 2em #c0c0c0 inset;
  min-height: 100%;
}
canvas#canvas {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #333;
}
canvas.noBlur {
  image-rendering: optimizeSpeed;             // Older versions of FF
  image-rendering: -moz-crisp-edges;          // FF 6.0+
  image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
  image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
  image-rendering: crisp-edges;               // Possible future browsers.
  -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
}
