html {
  background: #101010;
  box-shadow: 0px 0px 2em #505050 inset;
  min-height: 100%;
  color: #ddd;
}
.container {
  margin-top: 3em;
}
.starter {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2em;
  padding: 0px;
}
#menuButton {
  width: 16px;
  height: 16px;
  font-size: 6px;
  text-align: center;
  border-radius: 16px;
  background: #444;
  transition: background 0.2s;
}
#menuButton:hover {
  background: #d22;
}
canvas#canvas {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 2em #505050;
}
canvas.noBlur {
  image-rendering: optimizeSpeed;             
  image-rendering: -moz-crisp-edges;          
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -o-crisp-edges;            
  image-rendering: crisp-edges;               
  -ms-interpolation-mode: nearest-neighbor;   
}
.editor {
  border-collapse: separate;
  border-spacing: 1px;
  display: inline-block;
  margin-right: 4em;
  padding: 1em;
  box-shadow: 0px 0px 0.75em #111 inset;
  background: #ddd;
}
.canvasContainer {
  display: inline-block;
  margin-left: 2em;
}
.canvasContainer td, .canvasContainer tr, .canvasContainer img {
  margin: 0px 0px;
  margin-bottom: -2px;
}
.button, input, textarea {
  border: 1px solid #aaa;
  width: 16em;
  text-align: center;
  color: #000;
  background: #ddd;
}
.button:hover, input:hover, textarea:hover {
  border: 1px solid #ddd;
}
.button, input {
  margin-bottom: 4px;
}
